@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Sweet-Bold";
  src: url("./fonts/SweetSansProBold.otf");
}

@font-face {
  font-family: "Sweet-Regular";
  src: url("./fonts/SweetSansProExLight.otf");
}

@font-face {
  font-family: "Sweet-Regular";
  src: url("./fonts/SweetSansProRegular.otf");
}

@font-face {
  font-family: "Clash-Bold";
  src: url("./fonts/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: "Clash-Medium";
  src: url("./fonts/ClashDisplay-Medium.otf");
}

@font-face {
  font-family: "Clash-Regular";
  src: url("./fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "Clash-Semibold";
  src: url("./fonts/ClashDisplay-Semibold.otf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

/* body::-webkit-scrollbar {
  display: none;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}